In [24]:
import requests
from datetime import datetime
import pandas as pd
import time
import json

def get_result(x):
    try:
        result = pd.DataFrame.from_dict(x.json())
    except:
        result = x.text
    return result

def api_post(route, payload):
    url = urlbase + route
    x = requests.post(url, data = payload)
    df = get_result(x)
    if type(df) == pd.core.frame.DataFrame:
        if 'datetime' in df.columns:
            df['datetime'] = pd.to_datetime(df['datetime'], unit='ms')
    return df

def api_get(route):
    url = urlbase + route
    x = requests.get(url)
    df = get_result(x)
    return df
urlbase = 'https://mighty-bastion-45199.herokuapp.com/'
token = 'token_dummy_001'

In [25]:
# Verificando cripto dispon√≠veis
api_get('available_cripto')

'BTC'

In [26]:
# Cota√ß√£o dos √∫ltimos 500 minutos (OHLC) de uma cripto
api_post('cripto_quotation', {'token': token, 'ticker': 'BTC'})

,symbol,datetime,open,high,low,close,volume,number_of_trades
0,BTC,2023-08-08 19:45:00,29879.99,29886.72,29872.00,29886.72,26.58449,588
1,BTC,2023-08-08 19:46:00,29886.72,29886.72,29880.00,29880.01,24.08890,366
2,BTC,2023-08-08 19:47:00,29880.00,29886.53,29880.00,29886.52,27.35182,531
3,BTC,2023-08-08 19:48:00,29886.52,29898.99,29886.52,29896.00,36.77430,584
4,BTC,2023-08-08 19:49:00,29896.00,29896.01,29890.00,29890.00,10.30292,386
5,BTC,2023-08-08 19:50:00,29890.00,29900.00,29890.00,29900.00,25.40143,532
6,BTC,2023-08-08 19:51:00,29899.99,29907.37,29896.00,29896.01,76.44755,790
7,BTC,2023-08-08 19:52:00,29896.00,29902.92,29892.49,29892.50,18.68726,547
8,BTC,2023-08-08 19:53:00,29892.49,29897.42,29892.49,29897.42,12.99283,353
9,BTC,2023-08-08 19:54:00,29897.42,29897.42,29893.00,29893.01,8.34584,292
10,BTC,2023-08-08 19:55:00,29893.01,29897.40,29882.74,29897.40,26.26783,717
11,BTC,2023-08-08 19:56:00,29897.40,29904.78,29890.59,29890.67,25.05866,607
12,BTC,2023-08-08 19:57:00,29890.67,29907.92,29878.00,29878.00,64.72966,1035
13,BTC,2023-08-08 19:58:00,29878.01,29884.25,29872.26,29872.27,34.29839,614
14,BTC,2023-08-08 19:59:00,29872.26,29884.24,29868.00,29884.24,39.84621,653
15,BTC,2023-08-08 20:00:00,29884.23,29905.00,29884.23,29905.00,91.98604,1096
16,BTC,2023-08-08 20:01:00,29905.00,29910.73,29887.85,29887.86,33.62301,789
17,BTC,2023-08-08 20:02:00,29887.86,29887.86,29856.69,29856.69,64.99382,825
18,BTC,2023-08-08 20:03:00,29856.69,29864.84,29854.00,29854.00,38.21223,734
19,BTC,2023-08-08 20:04:00,29854.00,29854.01,29841.80,29846.78,35.51464,615
20,BTC,2023-08-08 20:05:00,29846.78,29859.62,29846.76,29859.62,18.76461,526
21,BTC,2023-08-08 20:06:00,29859.62,29859.62,29856.64,29856.64,6.33003,265
22,BTC,2023-08-08 20:07:00,29856.64,29858.00,29849.37,29857.99,30.19775,474
23,BTC,2023-08-08 20:08:00,29857.99,29868.61,29857.99,29868.61,9.25024,366
24,BTC,2023-08-08 20:09:00,29868.60,29883.41,29868.60,29883.41,16.50202,429
25,BTC,2023-08-08 20:10:00,29883.40,29889.35,29883.40,29889.35,18.16624,309
26,BTC,2023-08-08 20:11:00,29889.35,29890.88,29884.01,29884.02,20.48492,427
27,BTC,2023-08-08 20:12:00,29884.02,29885.28,29880.28,29885.28,11.50775,328
28,BTC,2023-08-08 20:13:00,29885.28,29899.80,29885.27,29899.80,25.20637,517
29,BTC,2023-08-08 20:14:00,29899.80,29909.63,29899.79,29909.63,17.74923,426

In [27]:
# Status da carteira
api_post('status', payload = {'token': token})

  ticker      quantity
0    BTC  2.000000e-01
1  money  9.999500e+07
2  total  1.000010e+08

In [28]:
# Compra de cripto
api_post('buy', payload = {'token': token, 'ticker': 'BTC', 'quantity': 0.2})

'Compra realizada com sucesso: 0.2 BTC por 29909.63 a unidade (total de 5981.926) @ 2023-08-18 20:35:00'

In [29]:
# Status da carteira
api_post('status', payload = {'token': token})

  ticker      quantity
0    BTC  4.000000e-01
1  money  9.998900e+07
2  total  1.000010e+08

In [30]:
# Verificando hist√≥rico de todas as movimenta√ß√µes
api_post('history', payload = {'token': token})

  ticker            datetime side  quantity    price
0    BTC 2023-08-18 20:35:00  buy       0.2  29909.6

In [31]:
# Vendendo cripto
api_post('sell', payload = {'token': token, 'ticker': 'BTC', 'quantity': 0.2})

'Venda realizada com sucesso: 0.2 BTC por 29920.74 a unidade (total de 5984.148000000001) @ 2023-08-18 20:35:13'

In [32]:
# Verificando novamente o status da carteira
api_post('status', payload = {'token': token})

  ticker      quantity
0    BTC  2.000000e-01
1  money  9.999500e+07
2  total  1.000010e+08